[SddmGreeterTheme]
Name=sonGoku
Description=Premium Sugar for SDDM
Author=Dharam Dhurandhar
Copyright=Copyright (C) 2018 Dharam Dhurandhar
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.6
Website=https://framagit.org/MarianArlt/sddm-sugar-candy
Screenshot=Previews/PartialBlur.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=ddh4r4m@gmail.com
Theme-Id=songoku
Theme-API=2.11
